
body {
    background-color: #A7824B;
}

hr {
    border-style: none;
    border-top: dotted 3px #0d00ff;
    height: 2px;
    width: 5%
}

img{
    height: 10rem;
    width: 10rem;
}

h1 {
    color:#0d00ff;
}

h3 {
    color:#0d00ff;
}